/*Hero section fade in animation */
#profile{
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Button hovering animation */
button.btn{
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button.btn:hover{
    background-color: white;
    color: black;
}