@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-cont{
        flex-wrap: wrap;
    }
    section{
        
    }
}

@media screen and (max-width: 1200px) {
    #navbar {
        display: none;
    }
    #hamburger{
        display: flex;
    }
   #experience, 
   .experience-detail-cont{
        margin-top: 2rem;
   }
   #profile,
   .section-container{
    display: block;
   }
   .fa-down-long{
    display: none;
   }
   section, 
   .section-container{
    height: fit-content;
   }
   section{
    margin: 0 5%;
   }
   .section__pic-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
   }
   .about-cont{
    margin-top: 0;
   }
}
@media screen and (max-width: 600px) {
    #contact,
    footer{
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-cont,
    .contact-info-upper-cont,
    .button-cont{
        flex-wrap: wrap;
    }
    .contact-info-cont{
        margin: 0;
    }
    .contact-info-cont p,
    .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.25rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .detail-cont{
        text-align: justify;
    }
}